<div id='container'>
  <!-- Your html here -->
  <div class='navigation'>
  <ul>
    <li><a href='#/' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a href='/logout' class='logout'>Logout</a>
  </div>

  <div class='links'>
  <ul>
    <li class='link' ng-repeat='link in data.links'>
    <a href='{{"/api/links/" + link.code}}' ng-click="console.log(link)">{{link.url + "/" + link.code}}</a>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    </li>
  </ul>
  </div>

</div>
